@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 @font-face {
  font-family: Alphabetized Cassette Tapes Thin;
  font-weight: 400;
  src: url(./fonts/alphabetized_cassette_tapes/Alphabetized\ Cassette\ Tapes\ Thin.ttf)
   format("ttf");
 }
 @font-face {
  font-family: Inter Medium;
  font-weight: 500;
  src: url(./fonts/inter/Inter-Medium.ttf) format("ttf");
 }
 @font-face {
  font-family: Inter Regular;
  font-weight: 400;
  src: url(./fonts/inter/Inter-Regular.ttf) format("ttf");
 }
 @font-face {
  font-family: Mulish-Bold;
  font-weight: 700;
  src: url(./fonts/mulish/static/Mulish-Bold.ttf) format("ttf");
 }
 @font-face {
  font-family: Mulish-Regular;
  font-weight: 500;
  src: url(./fonts/mulish/static/Mulish-Regular.ttf) format("ttf");
 }
}

html {
 max-width: 100vw;
}

body {
 width: 100vw;
 height: auto;
}

nav {
 height: 60px;
}

.install-btn {
 width: 195px;
 height: 40px;
 padding: 8px 20px 8px 24px;
 background-color: #03132e;
}

.bck-decoration {
 display: flex;
 justify-content: center;
 align-items: center;
 background-image: url(./public/lines-background.png);
 background-repeat: no-repeat;
 background-position: 100% 100%;
}

.video {
 max-width: 90%;
}

.steps li .text_box {
 position: relative;
 width: 70%;
 top: -30px;
}

.free-unlimited-powerful {
 background: linear-gradient(
  90deg,
  #f0fbb9 0%,
  #fbb3a0 29.01%,
  #bfa2fd 53.16%,
  #a4d0fc 74.87%,
  #9fe9e2 87.59%,
  #9fface 100%
 );
}

.shadow-container {
 position: relative;
 width: 60%;
 margin-left: auto;
}

.content {
 position: relative;
 color: #cbd5e1;
}

.gradient-shadow {
 position: absolute;
 top: -0.5rem;
 right: -0.5rem;
 bottom: -0.5rem;
 left: -0.5rem;
 background: linear-gradient(
  90deg,
  #44ff9a -0.55%,
  #44b0ff 22.86%,
  #8b44ff 48.36%,
  #ff6644 73.33%,
  #ebff70 99.34%
 );
 border-radius: 0.5rem;
 opacity: 0.3;
 filter: blur(20px);
}
